body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e0e84f;
  padding: 20px 0;
}

header h1 {
  color: #67a15d;
  font-size: 2em;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

main {
  padding: 30px;
  background-color: white;
}

h2 {
  font-weight: bold;
  text-decoration: underline;
}

#footer {
    text-align: center;
}
