body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f4f4f4;
  margin: 0;
}

p {
  line-height: 1.5;
}

nav {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

nav ul li a {
  text-decoration: none;
  color: #005a9e; 
}

nav ul li a:hover {
  color: #004a87;
}

h1 {
  text-align: center;
  color: #333;
}



/* label */
label {
    font-size: 1rem;
    margin-left: 8px;
}

/*  image styling */
#slideshow {
    display: block;
    margin: 20px auto;
    border: 4px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

#slideshow:hover {
    transform: scale(1.05);
}


#caption {
    font-size: 1.2rem;
    color: #666;
    margin: 10px auto 20px auto;  
    text-align: center;
    width: fit-content;           
}



.button-group {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



button:hover {
    background-color: #0056b3;
}

#auto {
    display: none;
}

/* timer */

#timer {
    margin: 40px auto 0 auto;    
    display: block;
    background-color: #222;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: fit-content;         
}

#footer {
    text-align: center;
}
